body {
  text-align: center;
  /*font-variant: small-caps;*/
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

img {
  max-height: 450px;
  max-width: 740px;
  height: auto;
  width: auto;
}
#comic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#comicContainer {
  background: white;
  width: 750px;
  height: 500px;
  margin: auto;
}
#comicTitle {
  font-size: 25px;
  font-weight: 400;
  margin-bottom:-7px;
}
#comicNumber {
  font-size: 16px;
  font-weight: 300;
}

#image {
  height: 450px;
}

paper-icon-button {
  vertical-align: middle;
}

.navigation {
  padding: 0;
  list-style-type: none;
}

.navigation li {
  display: inline;
  margin: auto;
  padding: 1px 10px;
}