body {
  text-align: center;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

/* Ensure the comic image resizes correctly. */
img {
  max-height: 442px;
  max-width: 740px;
  height: auto;
  width: auto;
}
#comic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#comicContainer {
  background: white;
  width: 750px;
  height: 500px;
  margin: auto;
}

#comicTitle {
  font-size: 25px;
  font-weight: 400;
  margin-bottom:-7px;
}

#comicNumber {
  font-size: 16px;
  font-weight: 300;
}

#image {
  height: 442px;
}

#explain {
  position: relative;
  top: -5px;
}

/* Position the navigation bar at the center. */
.navigation {
  position: relative;
  left: 10px;
}

/* Align the search bar with the other buttons. */
#search {
  position:relative;
  top:-10px;
}
/* This additional margin is used to make the toast popup cover the logo completely
so that it looks nicer. Otherwise there'd be a small protruding edge. */
paper-toast {
  margin-left: -3px;
}