body {
  background-color: #83B5D1;
  text-align: center;
  /*font-variant: small-caps;*/
  font-family: 'Roboto', sans-serif;
}

#comicContainer {
  background: white;
  border-style: solid;
  border-width: 1.5px;
  border-color: white;
  border-radius: 12px;
  -moz-border-radius: 12px;
  width: 100%;
  margin: auto;
}
#comicTitle {
  font-size: 25px;
  font-weight: 400;
  margin-bottom:-7px;
}
#comicNumber {
  font-size: 16px;
  font-weight: 300;
}
.comicNav {
  padding: 0;
  list-style-type: none;
}
.comicNav li {
  display: inline;
  background-color:#005994;
  color: #FFF;
  cursor: pointer;
  border: 1.5px solid #333;
  font-size: .8em;
  font-weight: 600;
  padding: 1.5px 12px;
  margin: 0 4px;
  text-decoration: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 0 5px 0 gray;
  -moz-box-shadow: 0 0 5px 0 gray;
  -webkit-box-shadow: 0 0 5px 0 gray;
}
.comicNav li:hover, .comicNav li:focus {
  background-color: #FFF;
  color: #6E7B91;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
#comic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#attribute {
  font-weight: 700;
  margin-right: 1em;
  text-align: right;
}